.all-cards {
  display: flex;
}

.all-cards-title {
  background-color: #036b52;
  padding: 20px 0;
}

.all-cards aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  width: 20%;
}


.all-cards aside span {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.label-nameFilter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-nameFilter input {
  border: 1px solid gray;
}

.label-rareFilter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-rareFilter select {
  border: 1px solid gray;
  height: 37px;
  width: 100%;
}

.label-trunfoFilter {
  display: flex;
  gap: 8px;
}

.label-trunfoFilter input {
  align-self: center;
  border: 1px solid gray;
  height: 20px;
  width: 20px;
}

.all-cards section {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(5, 20%);
}
